body {
    background-color: rgb(223,224,228);
}

@font-face {
    font-family:Cinzel;
    src:url("~/fonts/Cinzel-Regular.otf");
}

#detailsBox {
    box-sizing:border-box;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin: 0 auto;
    
   
}

#innerDetailsBox {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position:relative;
}

#leftUsernameIcon {
    position: absolute;
    left: 4px;
    top:  9px;
}

#leftPasswordIcon {
    position: absolute;
    left: 4px;
    top: 9px;
}

#loginPeople {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
}

#adminRadioDiv {
    width: 18%;
    margin: 0 auto;
}
/* #txtUserID::-webkit-input-placeholder { /* WebKit, Blink, Edge 
    color:    red;
}*/

label.error {display:none !important;}



