@font-face {
  font-family: Cinzel;
  src: url("./Cinzel-Regular.otf");
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --table-link-color: rgb(0, 0, 0);
  --table-link-image: rgb(0, 0, 0);
  --theme-color: rgb(0, 0, 0);
  --theme-image: rgb(0, 0, 0);
}

#detailsBox {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 0 auto;
}

.steps {
  box-sizing: border-box;
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.button--primary {
  background-color: #ce973e;
}

.button {
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.createAcct {
  box-sizing: border-box;
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 20px;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/*New addition from student dashboard*/

#header {
  /*height: 180px;*/
  background-color: rgba(255, 255, 255, 0.8);
  /*background-color:rgb(246,247,249);*/
  border-radius: 10px;
  padding: 20px;
  border: 2px solid;
  border-color: rgb(229, 230, 233);
}

#DashBoardContainer {
  /*height: 500px;*/
  /*height: 50%;*/
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(229, 230, 233);
  padding: 5px;
}

#userBasicDetails {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  text-align: center;
  padding-left: 30px;
}

#detailsWhiteBox,
.onlineLecture {
  background-color: white;
  /*height: 100px;*/
  height: 50%;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  border: 2px solid;
  border-color: rgb(229, 230, 233);
}

.buttonContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

button /*,input*/ {
  /* background-color: rgba(46, 109, 164, 0.8) !important; */
  /*border-radius: 0px;*/
}

.staffButtons {
  background-color: ButtonFace !important;
}
/*.dataLabels {
  margin-left: 9%;
}*/

.basicDataCols {
  display: inline-block;
  padding-left: 40px;
  padding-right: 30px;
}

#buttonMenu {
  padding: 15px;
  /*width: 20%;*/
  background-color: white;
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(229, 230, 233);
  margin-right: 0px;
  padding-bottom: 5px;
}

.menuIconDiv {
  background-color: rgb(200, 200, 200);

  border-color: rgb(229, 230, 233);
  border-radius: 5px;
  border: 2px;
}

.fa-bars {
  color: rgb(255, 255, 255);
}

#queryResultContainer {
  width: 75%;
  /*height: 400px;*/
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid rgb(229, 230, 233);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar-button {
  background-color: transparent !important;
}

#whiteBox {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid;
  border-color: rgb(229, 230, 233);
  text-align: center;
}

#libraryHeader {
  position: relative;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(229, 230, 233);
}

#libraryBody {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(229, 230, 233);
}

nav a {
  color: #495057;
  text-decoration: none;
  background-color: transparent;
}

.checkmark {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  stroke: var(--checkmark-arrow-color);
  stroke-width: var(--checkmark-arrow-thickness);
  stroke-miterlimit: 10;

  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--table-link-color);
  background-image: var(--table-link-image);
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

#searchBooks.list-search-bar[type="text"] {
  border-radius: 1020px;
}

#searchBooks.list-search-bar[type="text"] {
  border-radius: 1020px;
}
#searchBooks.form-control {
  border: 1px solid #ddd;
}

#searchBooks.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /*
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.calendar__head,
.calendar__day--start,
.calendar__day--end,
.calendar__day--selected {
  background: var(--theme-color);
  background-image: var(--theme-image);
}

.picker-input__text {
  border-radius: 5px;
}

.MuiPickersToolbar-toolbar,
.MuiPickerDTTabs-tabs,
.MuiPickersDay-daySelected {
  background-color: var(--theme-color);
  background-image: var(--theme-image);
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.message {
  border-radius: 10px;
  background-color: white;
  border: 1px solid;
  border-color: rgb(229, 230, 233);
  font-size: 14px;
  padding: 4px;
  margin-bottom: 5px;
}

.blue-template {
  background-color: #3b5950;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
}

.black-template {
  background-color: #222222;
  border-color: #222222;
}

.black-template:hover {
  background: #222222;
  background-color: #222222;
  border-color: #222222;
}

.violet-template {
  background-color: #220337;
  border-color: #220337;
}

.violet-template:hover {
  background: #220337;
  background-color: #220337;
  border-color: #220337;
}

.orange-template {
  background-color: #017a9b;
  border-color: #017a9b;
}

.orange-template:hover {
  background: #017a9b;
  background-color: #017a9b;
  border-color: #017a9b;
}

select:invalid {
  color: gray;
}
