<!DOCTYPE html>
<html>
<head>
<title>Easy School</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="Easy School">
<meta property="og:description" content="Easy to set up management system for schools/universities">
<meta property="og:image" content="https://easyschool.academy/public/link_preview.png">
<meta property="og:url" content="https://easyschool.academy">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link
href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
rel="stylesheet"
/>
<link
href="./public/LandingStyles.css"
rel="stylesheet"
/>
<!-- :#b5b5b5  #343434-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color:rgb(223, 224, 228)">


    
     <header style="background-color:#222222">
        <section style="text-align: center;width:100%;">
          <i class="fa fa-university" aria-hidden="true" style="color:white"></i>
          <h4
            id='appName'
            style="text-align:center; color:white; padding:5px;font-family:monoton;"
            role='heading'
          >
         
         
            EASY  SCHOOL
          </h4>
        </section>
        
      <section class='d-md-flex justify-content-around' style='background-color:rgba(34,34,34); padding-top:20px;'>
      
        <div class='col-md-3 steps'>
          <h4
          style="
            line-height: 1.2;
            letter-spacing:0.2px;
            font-weight: bold;
            text-align: center;
            font-size: 1.125rem;
            color: #b5b5b5;
            font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif"
        
        >
          Step 1
        </h4>
          <p class='steps-desc'>
            To set up a system for your institute, create an account by filling
            the essential details like institute name, address,
            administrator name etc.
          </p>

        </div>
        <div class='col-md-3 steps'>
          <h4
          style="
            line-height: 1.2;
            letter-spacing:0.2px;
            font-weight: bold;
            text-align: center;
            font-size: 1.125rem;
            color: #b5b5b5;
            font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif"
        
        >
          Step 2
        </h4>
          <p class='steps-desc'>
            Select a template from the available solid colored templates which best suits your institute name and logo. Check out some of the features below.
          </p>

        </div>
        <div class='col-md-3 steps'>
          <h4
          style="
            line-height: 1.2;
            letter-spacing:0.2px;
            font-weight: bold;
            text-align: center;
            font-size: 1.125rem;
            color: #b5b5b5;
            font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif"
        
        >
          Step 3
        </h4>
          <p class='steps-desc'>
            Select the appropriate package according to your needs. A trial version of 6 months is available for testing, along with 1 year and 5 years packages.
          </p>

        </div>

      </section>   
    </header>
      <div class='d-flex flex-column align-items-center' style="background-color:rgb(223, 224, 228)">
       
        <article class='features'>
          <div class='d-md-flex justify-content-between'>
            <div class='col-md-8'>
              <video src="./public/virtualLibrary.mp4" class='feature-video' controls preload="metadata">

              </video>
             
            </div>
            
            <div class='col-md-4' >
              <h3 class='feature-heading'>Virtual Library</h3>
              <p class='feature-desc'>
                The system comes with an integrated library management system. 
                This is open for students and the staff as well. With this, they have online access to know which books are currently available in the library. 
                Users can choose to be informed if a book becomes available. Check out the demo on the left in full screen mode.
              </p>
          </div>
          </div>
        </article>

        <article class='features'>
          <div class='d-md-flex justify-content-between'>
            <div class='col-md-8'>
              <video src="./public/onlineLecture.mov" class='feature-video' controls preload="metadata">

              </video>
             
            </div>
            
            <div class='col-md-4' >
              <h3 class='feature-heading'>Online Lecture</h3>
              <p class='feature-desc'>
                The system provides an easy way to set up online-lectures. One-to-many video, which shares the Professor's video to all the students 
                who have joined in.
              </p>
          </div>
          </div>
        </article>

        <article class='features'>
          <div class='d-md-flex justify-content-between'>
            <div class='col-md-8'>
              <video src="./public/attendance.mov" class='feature-video' controls preload="metadata">

              </video>
            </div>
            <div class='col-md-4' >
              <h3 class='feature-heading'>Attendance Status</h3>
              <p class='feature-desc'>
               Students can access their detailed attendance status online.
               Staff can can take attendance of a particular class with their smartphones or laptops with ease due to the responsive design.
              </p>
          </div>
          </div>
        </article>
      </div>   
    
      <div style="width:100%;text-align:center;margin-top:40px;">
        <a href="./createAccount" id="getStarted" target="_blank">
          Get Started
        </a>
      </div>
      <footer id='footer'>&#169 Copyright 2020 EasySchool</footer>
     
     

</body>
</html>